* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #7f5a83;
    background-image: linear-gradient(45deg, #7f5a83 0%, #0d324d 74%);



}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

}